{% load static %}
{% now "Y" as year %}

<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container text-center">
    <span>&copy; {{ year }} Online Marketplace</span>
{#    <div class="social-icons mt-3">#}
{#      <a href="#"><img src="{% static '#' %}" alt="Facebook" width="32" height="32"/></a>#}
{#      <a href="#"><img src="{% static '#' %}" alt="Instagram" width="32" height="32"/></a>#}
{#      <a href="#"><img src="{% static '#' %}" alt="TikTok" width="32" height="32"/></a>#}
{#    </div>#}
  </div>
</footer>