{% extends 'base/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Login to Goodsspotter</h3>
                    </div>
                    {% if form.errors %}
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <div class="alert alert-primary" role="alert">
                                    <p>{{ error }}</p>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <div class="card-body">

                        <form action="{% url 'login user' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="form-group text-center">
                                <input type="hidden" name="next" value="{{ request.GET.next|default:'' }}">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                        <p class="text-center">
                            Don't have an account? <a href="{% url 'register user' %}">Sign Up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
