{% extends 'base/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>Edit Product</h2>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>Please check:</strong>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p>{{ field|capfirst }}: {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="name">Product Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ form.name.value|default:'' }}"
                       required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description"
                          required>{{ form.description.value|default:'' }}</textarea>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select class="form-control" id="category" name="category" required>
                    {% for category in categories %}
                        <option value="{{ category.id }}"
                                {% if category.id == form.category.value %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" step="0.01" class="form-control" id="price" name="price"
                       value="{{ form.price.value|default:'' }}" required>
            </div>
            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input type="text" class="form-control" id="phone_number" name="phone_number"
                       value="{{ form.phone_number.value|default:'' }}" required>
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" class="form-control" id="location" name="location"
                       value="{{ form.location.value|default:'' }}" required>
            </div>
            <div class="form-group">
                <label for="condition">Condition:</label>
                <select class="form-control" id="condition" name="condition" required>
                    <option value="New" {% if form.condition.value == "New" %}selected{% endif %}>New</option>
                    <option value="Used" {% if form.condition.value == "Used" %}selected{% endif %}>Used
                    </option>
                </select>
            </div>

            <hr>

            <div class="form-group">
                <label for="image">Images:</label>

                {{ formset.management_form }}
                <br>
                <br>
                {% for form in formset %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    {{ form.id }}
                    {% if form.instance.id %}
                        {% if form.instance.image and form.instance.image.url %}
                            <a href="{{ form.instance.image.url }}" target="_blank">
                                <img src="{{ form.instance.image.url }}" alt="{{ form.instance.image.name }}"
                                     width="100">
                            </a>
                        {% endif %}
                        <br>
                    {% endif %}
                    {{ form.image.label_tag }} {{ form.image }}
                    <hr>
                {% endfor %}

            </div>

            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
{% endblock %}
