{% extends 'base/base.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <!-- Галерия с изображения или главна снимка -->
      <div class="col-lg-6">
        <img src="{{ product.image_url }}" class="img-fluid" alt="{{ product.name }}">
      </div>
      <!-- Информация за продукта -->
      <div class="col-lg-6">
        <h2>{{ product.name }}</h2>
        <h4 class="text-muted">{{ product.price }} лв.</h4>
        <p>{{ product.description }}</p>
        <dl>
          <dt>Категория:</dt>
          <dd>{{ product.category }}</dd>
          <dt>Подкатегория:</dt>
          <dd>{{ product.subcategory }}</dd>
        </dl>
        <!-- Контакт с продавача -->
        <button id="showPhoneNumber" class="btn btn-primary">Покажи телефонен номер</button>
        <p id="phoneNumber" class="mt-2" style="display: none;">{{ product.phone_number }}</p>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('showPhoneNumber').addEventListener('click', function() {
      document.getElementById('phoneNumber').style.display = 'block';
      this.style.display = 'none'; // Скрива бутона след натискане
    });
  </script>
{% endblock %}