{% extends 'base/base.html' %}
{% load static %}


{% block content %}

    <div class="banner">
        <img src="{% static 'img/baner-index.png' %}" alt="Banner Image" class="banner-image">
        <a href="{% url 'product list' %}" class="btn btn-primary banner-button">Show All Products</a>
    </div>
    <div class="container" id="categories-section">
        <h1 class="mt-5" >All Categories</h1>
        <form method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search for Category..."
                   aria-label="Search...">
            <button class="btn btn-outline-success my-2 my-sm-0" id="search-button" type="submit">Search</button>
        </form>
        <hr>
        <div class="row" >
            {% for category in categories %}
                <div class="col-md-3 mb-4" >
                    <a href="{% url 'product list' %}?category={{ category.id }}"
                       class="text-decoration-none text-body">
                        <div class="card shadow-sm text-center">
                            <div class="circle-image">
                                {% if category.image %}
                                    <img src="{{ category.image.url }}" alt="{{ category.name }}">
                                {% else %}
                                    <img src="#" alt="">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <p class="category-name">{{ category.name }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'index-js.js' %}"></script>
{% endblock js %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'index-styles.css' %}">
{% endblock %}