@media (min-width: 992px) {
    .product-image {
        height: 30vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-image {
        height: 25vh;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .product-image {
        height: 20vh;
    }
}


@media (max-width: 575px) {
    .product-image {
        height: 15vh;
    }
}
