<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Marketplace</title>
</head>
<body>
    <h1>Welcome to the Online Marketplace!</h1>
    <ul>
        <li><a href="{% url 'register user' %}">Register</a></li>
        <li><a href="{% url 'login user' %}">Login</a></li>
        <li><a href="{% url 'logout user' %}">Logout</a></li>
        <li><a href="{% url 'profile details' user.pk %}">Profile</a></li>
        <li><a href="{% url 'product list' %}">Product List</a></li>
        <li><a href="{% url 'product create' %}">Create Product</a></li>

    </ul>
</body>
</html>
